﻿@{
    ViewData["Title"] = "Home Page";
}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/jquery.terminal@2.20.1/js/jquery.terminal.min.js"></script>

<link rel="stylesheet" href="https://unpkg.com/jquery.terminal@2.20.1/css/jquery.terminal.min.css" />


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js" integrity="sha512-zlWWyZq71UMApAjih4WkaRpikgY9Bz1oXIW5G0fED4vk14JjGlQ1UmkGM392jEULP8jbNMiwLWdM8Z87Hu88Fw==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css" integrity="sha512-wJgJNTBBkLit7ymC6vvzM1EcSWeM9mmOu+1USHaRBbHkm6W9EgM0HY27+UtUaprntaYQJF75rc8gjxllKs5OIQ==" crossorigin="anonymous" />

<link href="//cdn.jsdelivr.net/npm/@@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>


<div class="text-center">
    <h1 class="display-4">Welcome to CLI</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="row">
    <div class="col-md-12 mb-2">
        <button id="reload" type="button" class="btn btn-primary">Reload</button>
        <button id="create" type="button" class="btn btn-success">Create</button>
        <button id="remove-all" type="button" class="btn btn-danger">Remove all</button>
        <button id="remove-input" type="button" class="btn btn-danger">Remove INPUT rules</button>
        <button id="remove-forward" type="button" class="btn btn-danger">Remove FORWARD rules</button>
        <button id="remove-output" type="button" class="btn btn-danger">Remove OUTPUT rules</button>
    </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">type</th>
                    <th scope="col">pkts</th>
                    <th scope="col">bytes</th>
                    <th scope="col">target</th>
                    <th scope="col">prot</th>
                    <th scope="col">opt</th>
                    <th scope="col">in</th>
                    <th scope="col">out</th>
                    <th scope="col">source</th>
                    <th scope="col">destination</th>
                    <th scope="col">flags</th>
                    <th scope="col">actions</th>
                </tr>
            </thead>
            <tbody id="rules">
            </tbody>
        </table>
        <div id="table-footer" class="col-md-12">

        </div>
    </div>
    <div class="col-md-12 mt-3">
        <div id="terminal" style="height: 20em;">

        </div>
    </div>

</div>

<script>
    const modes = ["win", "linux", "ssh"];
    let mode = modes[2];
    const toast = $.toast;

    function getUrl(mode) {
        let url = "";
        switch (mode) {
            case "win":
                url = "/Home/ExecuteWinCommand";
                break;
            case "linux":
                url = "/Home/ExecuteLinuxCommand";
                break;
            case "ssh":
                url = "/Home/ExecuteSSHCommand";
                break;
        }

        return url;
    }

    function notify(text, color) {
        toast({
            text: text,
            allowToastClose: false,
            hideAfter: 5000,
            stack: 5,
            textAlign: 'left',
            position: 'top-right',
            bgColor: color
        });
    }

    function getRandomColor() {
        const letters = '0123456789ABCDEF';
        var color = '#';
        for (let i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }


    function executeCommand(command, term) {
        return new Promise((resolve) => {
            $.ajax({
                url: getUrl(mode) + "?command=" + command,
                success: function (data) {
                    term.echo(data);
                    notify("Command executed successfully", "green");
                    resolve(data);
                },
                error: function (e) {
                    term.echo(e);
                    resolve();
                }
            });
        });
    }

    function getSpinner() {
        return `<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>`;
    }

    var t = $('#terminal').terminal(function (command, term) {
        return new Promise(function (resolve) {
            if (command.startsWith("help modes")) {
                term.echo("modes: " + modes.join(", "));
                resolve();
            } else if (command.startsWith("current mode")) {
                term.echo("mode: " + mode);
                resolve();
            } else if (command.startsWith("set mode")) {
                const newMode = command.split("set mode")[1].trim();
                term.echo("mode was set to: " + newMode);
                notify("mode was set to: " + newMode, "green");
                mode = newMode;
                resolve();
            } else {
                executeCommand(command, term).then(() => resolve());
            }
        });
    });

    t.clear();
    t.echo("Welcome to CLI for routing");
    t.echo("Current mode: " + mode);

    const tableContainer = $("#rules");

    //---------------------------------Handlers----------------------------------------

    function refreshTable() {
        tableContainer.html(`<tr><td colspan="13">${getSpinner()}</td></tr>`);
        executeCommand("iptables -L -v --line-numbers", t).then(data => {
            tableContainer.html(null);
            console.log(data);
            let type = "";
            let rules = {};
            const colors = ["gold", "yellowgreen", "lemonchiffon"];
            let kColor = -1;
            const rows = data.split("\n");
            for (let i = 0; i < rows.length; i++) {
                if (rows[i].startsWith("Chain")) {
                    const chains = rows[i].split(" ");
                    type = chains[1];
                    rules[type] = 0;
                    kColor++;
                    i += 2;
                }

                if (i > rows.length) continue;
                const row = rows[i].split(/(\s+)/).filter(e => e.trim().length > 0);
                if (row.length > 0) {
                    const hRow = $("<tr></tr>");
                    hRow.css("background", colors[kColor]);

                    let k = 0;
                    hRow.append(`<td>${row[k++]}</td>`); //id
                    hRow.append(`<td>${type}</td>`);
                    hRow.append(`<td>${row[k++]}</td>`);
                    hRow.append(`<td>${row[k++]}</td>`);
                    switch (row[k]) {
                        case "DROP":
                            hRow.append(`<td><span class="badge badge-danger">${row[k]}</span></td>`);
                            break;
                        case "ACCEPT":
                            hRow.append(`<td><span class="badge badge-success">${row[k]}</span></td>`);
                            break;
                        case "REJECTED":
                            hRow.append(`<td><span class="badge badge-danger">${row[k]}</span></td>`);
                            break;
                        default:
                            hRow.append(`<td><span class="badge badge-danger">${row[k]}</span></td>`);
                            break;
                    }
                    k++;
                    hRow.append(`<td>${row[k++]}</td>`);
                    hRow.append(`<td>${row[k++]}</td>`);
                    hRow.append(`<td>${row[k++]}</td>`);
                    hRow.append(`<td>${row[k++]}</td>`);
                    hRow.append(`<td>${row[k++]}</td>`);
                    hRow.append(`<td>${row[k++]}</td>`);
                    hRow.append(`<td>${row.slice(9).join("; ")}</td>`);
                    const optionsCell = $("<td></td>");
                    optionsCell.append($(`<button data-id="${row[0]}" data-type="${type}" type="button" class="delete btn btn-danger">Delete</button>`));

                    hRow.append(optionsCell);

                    tableContainer.append(hRow);
                    rules[type] += 1;
                }
            }

            $("#table-footer").html("");
        });
    }

    //---------------------------------Events-----------------------------------

    $(document).on("click", "#reload", function () {
        t.echo("Reload activated");
        refreshTable();
    });

    $(document).on("click", ".delete", function () {
        const id = $(this).attr("data-id");
        const type = $(this).attr("data-type");
        t.echo("Delete activated for id: " + id + " type: " + type);
        executeCommand(`iptables -D ${type} ${id}`, t).then(() => {
            refreshTable();
        });
    });

    $(document).on("click", "#remove-all", function () {
        t.echo("Delete all");
        executeCommand(`iptables -F`, t).then(() => {
            refreshTable();
        });
    });

    $(document).on("click", "#remove-input", function () {
        t.echo("Delete input");
        executeCommand(`iptables -F INPUT`, t).then(() => {
            refreshTable();
        });
    });

    $(document).on("click", "#remove-forward", function () {
        t.echo("Delete forward");
        executeCommand(`iptables -F FORWARD`, t).then(() => {
            refreshTable();
        });
    });

    $(document).on("click", "#remove-output", function () {
        t.echo("Delete output");
        executeCommand(`iptables -F OUTPUT`, t).then(() => {
            refreshTable();
        });
    });

    $(document).on("click", "#create", function () {
        Swal.fire({
            title: 'Select rule type',
            input: 'select',
            inputOptions: {
                'INPUT': 'inbound',
                'FORWARD': 'forward',
                'OUTPUT': 'outbound'
            },
            inputPlaceholder: 'required',
            showCancelButton: true,
            inputValidator: function (value) {
                return new Promise(function (resolve, reject) {
                    if (value !== '') {
                        resolve();
                    } else {
                        resolve('You need to select a type');
                    }
                });
            }
        }).then(function (result) {
            if (result.value) {
                nextSourceAndDest(result.value, "iptables -A " + result.value);
            }
        });
    });

    function nextSourceAndDest(type, command) {
        const sourceHtml = `<label for="swal-source">Source IP</label> <input id="swal-source" class="swal2-input">`;
        const destHtml = `<label for="swal-destination">Destination IP</label> <input id="swal-destination" class="swal2-input">`;
        const action = `<br><label for="swal-action">Action</label> <select id="swal-action" class="swal2-select">
                <option value="ACCEPT">accept</option> <option value="DROP">drop</option> <option value="REJECT">reject</option></select>`;

        const protocolHtml = `<br><label for="swal-protocol">Protocol</label> <select id="swal-protocol" class="swal2-select">
                <option value="tcp">tcp</option>
                <option value="udp">udp</option>
                <option value="icmp">icmp</option>
                <option value="all">all</option>
            </select>`;

        const sourcePortHtml = `<br><label for="swal-sport">Source Port</label> <input type="number" id="swal-sport" class="swal2-input">`;
        const destPortHtml = `<br><label for="swal-dport">Destination Port</label> <input type="number" id="swal-dport" class="swal2-input">`;
        let html = "";

        if (type === "INPUT") {
            html += sourceHtml;
        } else if (type === "OUTPUT") {
            html += destHtml;
        } else {
            html += (sourceHtml + destHtml);
        }

        html += protocolHtml;
        html += sourcePortHtml;
        html += destPortHtml;

        html += action;

        Swal.fire({
            title: 'Define rule ' + type,
            html: html,
            focusConfirm: false,
            preConfirm: () => {
                return {
                    source: $('#swal-source').val(),
                    dest: $('#swal-destination').val(),
                    action: $('#swal-action').val(),
                    sPort: $('#swal-sport').val(),
                    dPort: $('#swal-dport').val(),
                    protocol: $('#swal-protocol').val()
                };
            }
        }).then(result => {
            if (result.value.protocol) {
                command += " -p " + result.value.protocol;
            }

            if (result.value.sPort) {
                command += " --sport " + result.value.sPort;
            }

            if (result.value.dPort) {
                command += " --dport " + result.value.dPort;
            }

            if (result.value.source) {
                command += " -s " + result.value.source;
            }

            if (result.value.dest) {
                command += " -d " + result.value.dest;
            }

            command += " -j " + result.value.action;
            executeCommand(command, t).then(() => {
                Swal.fire({
                    icon: 'success',
                    html: 'Command build: ' + command
                });
                refreshTable();
            });
        }).catch(e => {
            console.log(e);
        });
    }


    refreshTable();
</script>